
.wholeGrid{
    display:grid;
    grid-auto-rows: 60px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(14,1fr);
    width: 100%;
}

/*logo*/
.box{
    background-color: black;
    grid-column: 1/2;
    grid-row: 1/2;
}

.box1{
    background-color: black;
    grid-column:3/9;
    grid-row: 1/2;
}

.box2{
    background-color:black;
    grid-column: 14/15;
    grid-row: 1/2;

}

.logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    margin:0;
    padding-top: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
}


/*navigation*/

nav{
    grid-column: 9/14;
    background-color: #000000;
    font-family: ta*rzana-narrow, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
    padding-top: 20px;
    color: #f2f2f2;

}

.flex{
    grid-column: 8/13;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
    margin:0;
    padding:0;
}


nav ul{
    text-decoration: none;
    list-style-type: none;

}



/*hero image*/
.heroimage{
    background-image: url(luggagemain.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    grid-column:1/15;
    grid-row: 2/10;
}



/*Signin area*/

h1{
    font-size: 2.5rem;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headofsignin{
    grid-row:11/12;
    grid-column:6/10;
    
}

h3{
    font-size: 1.5rem;
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.smallPrompt{
    grid-row: 12/13;
    grid-column: 5/11;

}

.emailInput{
    grid-row: 14/15;
    grid-column: 5/9;
    margin: 5px;
}

.passwordInput{
    grid-row: 16/17;
    grid-column: 5/9;
    margin: 5px;
}

.submit1{
    grid-row: 17/18;
    grid-column: 7/8;
    background-color: black;
    color: white;
}

.emailwords{
    grid-column: 5/6;
    grid-row: 13/14;
    font-size: .75rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 45px;
    margin-left: 5px;

}

.passwordwords{
    grid-column: 5/6;
    grid-row: 15/16;
    font-size: .75rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 45px;
    margin-left: 5px;

}

.smallPrint{
    grid-column: 7/10;
    grid-row: 17/19;
    font-size: .75rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 45px;
    margin-left: 5px; 
}

.headofregistration {
    grid-column: 6/7;
    grid-row: 20/21;
    color: black;
}

.smallPrompt2 {
    grid-column: 6/9;
    grid-row: 22/23;
}

.nameInput {
    grid-column: 5/9;
    grid-row: 25/26;
}

.emailInput1 {
    grid-column: 5/9;
    grid-row: 27/28;
}

.passwordInput1 {
    grid-column: 5/9;
    grid-row: 29/30;
}

.verifyPassInput {
    grid-column: 5/9;
    grid-row: 31/32;
}

.submit2{
    margin: 5px;
    grid-column: 6/7;
    grid-row: 32/33; 
    background-color: black;
    color: white;
}

.backgroundGray{
    background-color:rgba(181, 180, 180, 0.459);
    grid-column: 1/15;
    grid-row: 20/34;
}

/*ORDER SUMMARY*/

.orderSummary{
    grid-column: 2/5;
    grid-row: 36/37;
}

.h4{
    font-size: .5rem;
    color: rgba(181, 180, 180, 0.459);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.date1{
    grid-column: 2/3;
    grid-row:  37/38;
}